/*
mobile-style.css

-auth Wesley Wu

Styling for the following elements will be in this order:
	Layout Properties (position, float, clear, display)
	Box Model Properties (width, height, margin, padding)
	Visual Properties (color, background, border, box-shadow)
	Typography Properties (font-size, font-family, text-align, text-transform)
	Misc Properties (cursor, overflow, z-index)
*/

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html
{
	background-color: rgb(255,180,94);
}

@media only screen and (min-width: 600px)
{
	html
	{
		font-size: 24px;
	}
}

@media only screen and (max-width: 600px)
{
	html
	{
		font-size: 4vmin;
	}
}

/*------------------------------------------------- SIGNATURE ---------------------------------------------------------*/
.signature
{
	display: none;
}

/*													NAVIGATION															*/
/*----------------------------------------------------- Bar ------------------------------------------------------------*/
.navbar
{
	position: fixed;
	left: 0;
	top: 0;
	
	width: 100%;
	height: 10%;

	background-color: rgb(255,180,94);

	overflow: hidden;
	transition: height 0.2s, background-color 0.2s;
	z-index: 1000;
	box-shadow: 0px 0px 5px black;
}

.navbar.toggled-on
{
	background-color: rgb(240,240,240);
	height: 100%;
}

/*----------------------------------------------------- Bar Title ------------------------------------------------------*/
.navbar-title
{
	position: relative;
	display: inline-block;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 2.5%;
	
	color: rgb(70,70,70);
	
	font-size: 5vh;
	font-family: 'Nunito';
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar.toggled-on .navbar-title
{
	height: auto;
}

/*----------------------------------------------------- Hamburger Button -----------------------------------------------*/
.navbar .hamburger-icon
{
	position: absolute;
	float: left;
	display: block;
	left: 0;
	top: 0;

	width: 8vh;
	height: 8vh;

	margin: 1vh;
	padding: 0.5vh 0;

	color: rgb(240,240,240);
	background-color: rgb(70,70,70);
	border-radius: 0%;

	font-size: 5vh;
	text-align: center;
}

.navbar.toggled-on .hamburger-icon
{
}

/*----------------------------------------------------- Navigation Links -----------------------------------------------*/
.navbar li
{
	display: none;
}

.navbar a
{
	text-decoration: none;

	transition: background-color 0.1s;
}

.navbar a:hover
{
	background-color: rgb(100,100,100);
}

.navbar.toggled-on li
{
	position: relative;
	float: none;
	display: block;

	width: auto;
	height: 8vh;
	margin: 6px;
	padding: 0;
}

.navbar.toggled-on :not(.hamburger-icon) a
{
	float: none;
	display: inline-block;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 1.5vh;

	color: rgb(240,240,240);
	background-color: rgb(70,70,70);
	border-radius: 0%;

	font-size: 4vh;
	font-family: 'Nunito';
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;

	overflow: hidden;
}

.navbar.toggled-on a:hover
{
	background-color: rgb(100,100,100);
}

/*----------------------------------------------------- Navigation Current Page ----------------------------------------*/
#navbar-current
{
	height: 100%;
}

.navbar.toggled-on #navbar-current a
{
	color: rgb(255,255,255);
	background-color: rgb(150,150,150);
}

.navbar.toggled-on #navbar-current a:hover
{
	color: rgb(255,255,255);
	background-color: rgb(180,180,180);
}

/*----------------------------------------------------- Information ----------------------------------------------------*/
.information
{
	position: relative;

	width: auto;
	height: auto;

	margin: 12vh 2vw 2vh 2vw;
	padding: 2vh 2vw;
	
	background-color: rgb(255,255,255);
	border-radius: 1vh;
}

/*----------------------------------------------------- Title & Content ------------------------------------------------*/
#title
{
	display: none;
}

.content
{
	margin: 0;
	padding: 0;

	background-color: rgb(255,255,255);
}

.content p
{
	font-size: 1em;
	font-family: 'Nunito';
	line-height: normal;
}

/* h1 is page title, omitted because mobile page title will show on navigation */

.content h2 /* h2 is page description */
{
	margin-bottom: 5vh;

	font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

.content h3 /* h3 starts a section in content */
{
	font-size: 1.5em;
	font-family: 'Nunito', sans-serif;
}

.content h4 /* h4 starts a paragraph */
{
	margin-top: 1em;

	font-size: 1.2em;
	font-family: 'Nunito', sans-serif;
}

.content h5 /* h5 is currently unused */
{
}

.content h6 /* h6 is a permanent marker. I use this one time on the home page with my name */
{
	display: block;

	margin-bottom: 1vh;

	border-bottom: solid;
	border-width: 1px;

	font-size: 3em;
	font-family: 'Permanent Marker';
	text-align: center;
}

.content a
{
	color: rgb(255,180,94);
	text-decoration: none;
}

.content img
{
	display: block;
	
	margin: auto;
}