/*
mobile-style.css

-auth Wesley Wu

Styling for the following elements will be in this order:
	Layout Properties (position, float, clear, display)
	Box Model Properties (width, height, margin, padding)
	Visual Properties (color, background, border, box-shadow)
	Typography Properties (font-size, font-family, text-align, text-transform)
	Misc Properties (cursor, overflow, z-index)
*/

:root
{
	--bg-black: rgb(0,0,0);
	--bg-black-light: rgb(40,40,40);

	--bg-gray-dark: rgb(70,70,70);
	--bg-gray: rgb(110,110,110);
	--bg-gray-light: rgb(140,140,140);

	--bg-white-dark: rgb(240,240,240);
	--bg-white: rgb(255,255,255);

	--bg-orange: rgb(255,207,132);

	--txt-black: rgb(0,0,0);
	--txt-black-light: rgb(60,60,60);

	--txt-gray-dark: rgb(70,70,70);
	--txt-gray: rgb(80,80,80);
	--txt-gray-light: rgb(100,100,100);

	--txt-white-dark: rgb(240,240,240);
	--txt-white: rgb(255,255,255);

	--txt-orange: rgb(208,123,13);
}

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html
{
	color: var(--txt-black-light);
	background-color: var(--bg-orange);
}

@media only screen and (max-width: 600px)
{
	html
	{
		font-size: 4vw;
	}
}

@media only screen and (min-width: 600px)
{
	html
	{
		font-size: 24px;
	}
}

::-webkit-scrollbar
{
  width: 0px;
  height: 0px;
}


/*------------------------------------------------- SIGNATURE ---------------------------------------------------------*/
.signature
{
	display: none;
}

/*													NAVIGATION															*/
/*----------------------------------------------------- Bar ------------------------------------------------------------*/
.navbar
{
	position: fixed;
	left: 0;
	top: 0;
	
	width: 100%;
	height: 10%;

	background-color: var(--bg-orange);

	overflow: hidden;
	transition: height 0.2s, background-color 0.2s;
	z-index: 1000;
	box-shadow: 0px 0px 5px black;
}

.navbar.toggled-on
{
	height: 100%;

	background-color: var(--bg-white-dark);
}

/*----------------------------------------------------- Bar Title ------------------------------------------------------*/
.navbar-title
{
	position: relative;
	display: inline-block;

	width: 100%;
	height: auto;

	margin: 0;
	padding: 2vh;
	
	color: var(--txt-black-light);
	
	font-size: 5vh;
	font-family: 'Nunito';
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar-title a
{
	color: var(--txt-black-light);
	
	text-decoration: none;
}

.navbar.toggled-on .navbar-title
{
}

/*----------------------------------------------------- Hamburger Button -----------------------------------------------*/
.navbar .hamburger-icon, .navbar.toggled-on .hamburger-icon
{
	position: absolute;
	float: left;
	display: block;
	left: 0;
	top: 0;

	width: 8vh;
	height: 8vh;

	margin: 1vh;
	padding: 0.5vh 0;

	color: var(--txt-white-dark);
	background-color: var(--bg-gray-dark);
	border-radius: 0%;

	font-size: 5vh;
	text-align: center;
	text-decoration: none;
}

.navbar.toggled-on .hamburger-icon
{
}

/*----------------------------------------------------- Navigation Links -----------------------------------------------*/
.navbar li
{
	display: none;
}

.navbar :not(.hamburger-icon):not(.navbar-title) a
{
	display: none;
}

.navbar :not(.navbar-title) a:hover
{
	background-color: var(--bg-gray);

	transition: background-color 0.1s;
}

.navbar.toggled-on li
{
	position: relative;
	float: none;
	display: block;

	width: auto;
	height: 8vh;
	margin: 6px;
	padding: 0;
}

.navbar.toggled-on :not(.navbar-title) a
{
	float: none;
	display: inline-block;

	width: 100%;
	height: 100%;
	margin: 0;
	padding: 1.5vh;

	color: var(--txt-white-dark);
	background-color: var(--bg-gray-dark);
	border-radius: 0%;

	font-size: 4vh;
	font-family: 'Nunito';
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;

	overflow: hidden;
}

.navbar.toggled-on :not(.navbar-title) a:hover
{
	background-color: var(--bg-gray);
}

/*----------------------------------------------------- Navigation Current Page ----------------------------------------*/
#navbar-current
{
	height: 100%;
}

.navbar.toggled-on #navbar-current a
{
	color: var(--txt-white);
	background-color: var(--bg-gray-light);
}

.navbar.toggled-on #navbar-current a:hover
{
}

/*----------------------------------------------------- Information ----------------------------------------------------*/
.information
{
	position: relative;

	width: auto;
	height: auto;

	margin: 12vh 2vw 2vh 2vw;
	padding: 2vh 2vw;
	
	background-color: var(--bg-white);
	border-radius: 1vh;
}

/*----------------------------------------------------- Title & Content ------------------------------------------------*/
#title
{
	display: none;
}

/* h1 is page title, omitted because mobile page title will show on navigation */

#title a
{
	color: var(--txt-orange);
	text-decoration: none;
}

.content p
{
	font-size: 1em;
	font-family: 'Nunito';
}

.content h2 /* h2 is page description */
{
	margin-bottom: 5vh;

	font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

.content h3 /* h3 starts a section in content */
{
	font-size: 1.5em;
	font-family: 'Nunito', sans-serif;
}

.content h4 /* h4 starts a paragraph */
{
	margin-top: 1em;

	font-size: 1.2em;
	font-family: 'Nunito', sans-serif;
}

.content h5 /* h5 is currently unused */
{
}

.content h6 /* h6 is a permanent marker. I use this one time on the home page with my name */
{
	display: block;

	margin-bottom: 1vh;

	font-size: 3em;
	font-family: 'Permanent Marker';
	text-align: center;
}

.content a
{
	color: var(--txt-orange);
	text-decoration: none;
}

.content ul
{
	padding-left: 1em;

	font-size: 1em;
	font-family: 'Nunito', sans-serif;

	list-style-type: circle;
	list-style-position: inside;
}

.content img
{
	display: block;

    max-width: 80vmin;
	max-height: 80vmin;
	margin: auto;

	border-radius: 10px;
}

.content .img-info
{
	font-size: 0.9em;
	font-family: 'Nunito', sans-serif;
	font-style: italic;
	text-align: center;
}

.content .video-container
{
	width: 80vw;
	max-width: 640px;
	margin: 0px auto;
}

.content .video-container > div
{
	position: relative;
	padding-bottom: 75%;
	height: 0px;
}

.content .video-container iframe
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.content .video-info
{
	font-size: 0.9em;
	font-family: 'Nunito', sans-serif;
	font-style: italic;
	text-align: center;
}

.content .tooltip /* Tooltip container */
{
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

@media only screen and (max-width: 600px)
{
	.content .tooltip .tooltiptext /* Tooltip box, not hovered */
	{
		visibility: hidden;
		position: absolute;
		bottom: 150%;
		left: 50%;
		transform: translate(-50%, 0%);

		width: 40vw;
		padding: 5%;

		color: var(--txt-white);
		background-color: var(--bg-black-light);
		border-radius: 4px;

		font-size: 0.8em;
		text-align: center;

		z-index: 1;
		opacity: 0;
		transition: bottom 0s, opacity 0s;
	}
}

@media only screen and (min-width: 600px)
{
	.content .tooltip .tooltiptext /* Tooltip box, not hovered */
	{
		visibility: hidden;
		position: absolute;
		bottom: 150%;
		left: 50%;
		transform: translate(-50%, 0%);

		width: 250px;
		padding: 5%;

		color: var(--txt-white);
		background-color: var(--bg-black-light);
		border-radius: 4px;

		font-size: 0.8em;
		text-align: center;

		z-index: 1;
		opacity: 0;
		transition: bottom 0s, opacity 0s;
	}
}



.content .tooltip .tooltiptext::after /* Tooltip arrow */
{
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;

	margin-left: -5px;

	border-style: solid;
	border-color: var(--bg-black-light) transparent transparent transparent;
	border-width: 5px;

	opacity: 0.95;
}

.content .tooltip:hover .tooltiptext /* Tooltip box during hover */
{
	visibility: visible;
	bottom: 100%;
	
	opacity: 0.95;
	transition: bottom 0.2s, opacity 0.2s;
}