/*
mobile-style.css

-auth Wesley Wu

Styling for the following elements will be in this order:
	Layout Properties (position, float, clear, display)
	Box Model Properties (width, height, margin, padding)
	Visual Properties (color, background, border, box-shadow)
	Typography Properties (font-size, font-family, text-align, text-transform)
	Misc Properties (cursor, overflow, z-index)
*/

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	font-size: 20px;
	font-family: 'Nunito', sans-serif;
}

body, html
{
	background-color: rgb(255,180,94);
	height: 100%;
}

.signature
{
	display: none;
}

/*													NAVIGATION															*/
/*----------------------------------------------------- Bar ------------------------------------------------------------*/
.navbar
{
	position: fixed;
	left: 0;
	top: 0;
	
	height: 50px;
	width: 100%;

	background-color: rgb(255,180,94);

	overflow: hidden;
	transition: height 0.1s;
	z-index: 1000;
}

.navbar.toggled-on
{
	height: 174px;
}

/*----------------------------------------------------- Bar Title ------------------------------------------------------*/
.navbar-title
{
	position: relative;
	float: none;
	display: block;
	left: 40px;
	top: 0;

	margin: 8px 4px;
	padding: 4px 0px 4px 20px;
	
	color: rgb(70,70,70);
	background-color: rgb(255,180,94);
	
	font-size: 20px;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar-title.toggled-on
{
}

/*----------------------------------------------------- Hamburger Button -----------------------------------------------*/
.navbar a.icon, .navbar.past-main a.icon
{
	position: absolute;
	float: left;
	display: block;
	left: 0;
	top: 0;

	width: 40px;
	height: auto;

	margin: 6px;
	padding: 4px 10px;

	color: rgb(240,240,240);
	background-color: rgb(70,70,70);
	border-radius: 0%;
	
}

.navbar.toggled-on a.icon
{
}

/*----------------------------------------------------- Navigation Links -----------------------------------------------*/
.navbar a
{
	display: none;

	font-size: 20px;

	transition: background-color 0.1s;
}

.navbar.toggled-on a
{
	float: none;
	display: block;

	margin: 6px;
	padding: 4px 10px;

	color: rgb(240,240,240);
	background-color: rgb(70,70,70);
	border-radius: 0%;

	font-size: 20px;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar a:hover
{
	background-color: rgb(140,140,140);
}

.navbar.toggled-on a:hover
{
}

/*----------------------------------------------------- Navigation Current Page ----------------------------------------*/
.navbar.toggled-on #navbar-current a
{
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
}

/*----------------------------------------------------- Information ----------------------------------------------------*/
.information
{
	position: relative;

	width: 90%;
	height: 100%;

	margin: 0px 5% 5% 5%;
	padding: 1px 0px;
	
	background-color: rgb(255,255,255);
	border-radius: 0.5%;
}

/*----------------------------------------------------- Title & Content ------------------------------------------------*/
#title
{
	display: none;
}

.content
{
	margin: 0;
	padding: 80px 20px 20px 20px;

	background-color: rgb(255,255,255);
}


h1
{
	display: inline;
	text-align: center;

	font-size: 44px;
	font-family: 'Architects Daughter', sans-serif;
}

h2
{
}



h3
{
}

h4
{
}

h6
{
	display: inline-block;
	text-align: left;
	font-size: 44px;
	font-family: 'Permanent Marker';
}

p {
	font-size: 20px;
	line-height: normal;
	text-align: left;
}

a {
	color: RoyalBlue;
	text-decoration: none;
}