/*
style.css

-auth Wesley Wu

Styling for the following elements will be in this order:
	Layout Properties (position, float, clear, display)
	Box Model Properties (width, height, margin, padding)
	Visual Properties (color, background, border, box-shadow)
	Typography Properties (font-size, font-family, text-align, text-transform)
	Misc Properties (cursor, overflow, z-index)
*/

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	font-size: 22px;
	font-family: 'Nunito', sans-serif;
}



/* tooltips! */
body, html
{
	background-color: rgb(255,180,94);
}

/*------------------------------------------------- SIGNATURE ---------------------------------------------------------*/
.signature
{
	float: none;

	height: 100px;
	margin: 0;
	
	text-align: center;
}

/*------------------------------------------------- NAVIGATION --------------------------------------------------------*/
/*----------------------------------------------------- Bar -----------------------------------------------------------*/
.navbar
{
	width: 100%;
	height: 50px;
	
	background-color: rgb(255,180,94);

	text-align: center;

	overflow: hidden;
	transition: height 0.1s;
	z-index: 1000;
}

.navbar.past-main
{
	position: fixed;
	left: 0;
	top: 0;
	
	height: 50px;

	background-color: rgb(255,180,94);
	
	box-shadow: 0px 0px 5px black;
}

.navbar.past-main.toggled-on
{
	height: auto;
}

/*----------------------------------------------------- Bar Title ------------------------------------------------------*/
.navbar-title
{
	display: none;
}

.navbar-title.past-main
{
	position: relative;
	display: inline-block;

	width: 100%;
	height: 50px;

	margin: 0;
	padding: 8px;
	
	color: rgb(70,70,70);
	background-color: rgb(255,180,94);
	
	font-size: 28px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar-title.past-main.toggled-on
{
}

/*----------------------------------------------------- Hamburger Button -----------------------------------------------*/
.navbar .hamburger-icon
{
	display: none;
}

.navbar.past-main .hamburger-icon
{
	position: absolute;
	float: left;
	display: block;
	left: 0;
	top: 0;

	width: 40px;
	height: auto;

	margin: 6px;
	padding: 4px 10px;

	color: rgb(240,240,240);
	background-color: rgb(70,70,70);
	border-radius: 0%;

	font-size: 20px;
}

.navbar.past-main.toggled-on .hamburger-icon
{
}

/*----------------------------------------------------- Navigation Links -----------------------------------------------*/
.navbar li
{
	display: inline-block;

    width: 130px;
    height: 130px;
    margin: 2px;
	padding: 0;
}

.navbar a
{
	display: inline-block;

	width: 100%;
	height: 100%;
	margin: 0;
	padding: 12px 0px;
	
	color: rgb(240,240,240);
	background-color: rgb(70,70,70);
	border-radius: 5%;

	font-size: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	transition: background-color 0.1s;
	
}

.navbar a:hover
{
	background-color: rgb(100,100,100);
}

.navbar.past-main li
{
	display: none;
}

.navbar.past-main a
{
}

.navbar.past-main a:hover
{
	background-color: rgb(100,100,100);
}

.navbar.past-main.toggled-on li
{
	position: relative;
	float: none;
	display: block;

	width: auto;
	height: auto;
	margin: 6px;
	padding: 0;
}

.navbar.past-main.toggled-on :not(.hamburger-icon) a
{
	display: inline-block;

	width: 100%;
	height: 100%;
	margin: 0;
	padding: 10px 12px;

	color: rgb(240,240,240);
	background-color: rgb(70,70,70);
	border-radius: 0%;

	font-size: 20px;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar.past-main.toggled-on a:hover
{
	background-color: rgb(100,100,100);
}

/*----------------------------------------------------- Navigation Current Page ----------------------------------------*/

.navbar #navbar-current a
{
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
}

.navbar #navbar-current a:hover
{
}

.navbar.past-main #navbar-current a
{
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
}

.navbar.past-main #navbar-current a:hover
{
	color: rgb(120,120,120);
	background-color: rgb(255,255,255);
}

/*----------------------------------------------------- Information ----------------------------------------------------*/
.information
{
	position: relative;

	width: 90%;
	min-height: 0%;

	margin: 0px 5% 5% 5%;
	padding: 20px 60px;
	
	background-color: rgb(255,255,255);
	border-radius: 5px;

	overflow: auto;
}

.information.past-main
{
	position: relative;
}
/*----------------------------------------------------- Title & Content ------------------------------------------------*/
#title
{
	position: relative;
	margin: 20px 0px;
	padding: 0px;

	text-align: left;
}

#title.past-main
{
	display: none;
}

.content
{
	position: relative;

	width: 100%;
	height: auto;
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 100px 0px;

	background-color: rgb(255,255,255);

	font-size: 22px;
	line-height: normal;
	text-align: left;

	overflow: auto;
}

.content.past-main
{
	position: relative;
	width: 100%;
	margin: 150px 0px 0px 0px;
	padding: 0px 0px;
}



h1
{
	display: inline;
	text-align: center;

	font-size: 44px;
	font-family: 'Architects Daughter', sans-serif;
}

h2
{
	font-size: 24px;
	font-family: 'Oswald', sans-serif;
}



h3
{
	font-size: 36px;
	font-family: 'Nunito', sans-serif;
}

h4
{
}

h6
{
	display: inline-block;
	text-align: left;
	font-size: 44px;
	font-family: 'Permanent Marker';
}

a {
	color: RoyalBlue;
	text-decoration: none;
}

