/*
style.css

-auth Wesley Wu

Styling for the following elements will be in this order:
	Layout Properties (position, float, clear, display)
	Box Model Properties (width, height, margin, padding)
	Visual Properties (color, background, border, box-shadow)
	Typography Properties (font-size, font-family, text-align, text-transform)
	Misc Properties (cursor, overflow, z-index)
*/

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	font-family: 'Nunito', sans-serif;
}

/* tooltips! */

/*													NAVIGATION															*/

/*														NAVIGATION - The bar itself										*/
.navbar
{
	background-color: rgb(255,180,94);
	overflow: hidden;

	height: 50px;
}

/*														NAVIGATION - The bar title (When narrow screen)					*/
.navbar_title
{
	float: right;
	display: none;

	margin: 8px 4px 4px 4px;
	padding: 4px 0px 4px 20px;
	
	color: rgb(70,70,70);
	background-color: rgb(255,180,94);
	
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

/*														NAVIGATION - Links in the bar (Default)							*/
.navbar a
{
	float: left;
	display: block;

	margin: -10px 4px -20px 4px;
	padding: 30px 10px 24px 10px;
	
	color: rgb(240,240,240);
	background-color: rgb(70,70,70);
	border-radius: 5%;
	
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	transition: background-color 0.1s,
				padding 0.1s,
				margin 0.1s;
}

/*														NAVIGATION - Links in the bar (Current Page)					*/
.navbar #navbar_current a
{
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
	margin: 16px 4px -20px 4px;
	padding: 4px 10px 24px 10px;
}

/*														NAVIGATION - Links in the bar (Currently Hovered)				*/
.navbar a:hover
{
	background-color: rgb(140,140,140);
	/*margin: 16px 4px -20px 4px;
	padding: 4px 10px 24px 10px;*/
}

/*														NAVIGATION - Hamburger Button									*/
.navbar .icon {
	display: none; /* We hide this when the screen is greater than 600px */
}

/*														NAVIGATION - Behavior when screen smaller (Untoggled)			*/
@media screen and (max-width: 768px), (orientation: portrait) {
	.navbar
	{
		height: 50px;
	}

	.navbar_title
	{
		position: absolute;
		display: block;
		left: 40px;
		top: 0;
	}
	.navbar a /* Don't display navigation elements */
	{
		display: none;
	}

	.navbar a.icon /* Display hamburger button on the left */
	{
		position: absolute;
		float: left;
		display: block;
		left: 0;
		top: 0;

		margin: 6px 4px 4px 4px;
		padding: 4px 10px 4px 10px;
		
		border-radius: 0%;
	}
}

/*														NAVIGATION - Behavior when screen smaller (Toggled)				*/
@media screen and (max-width: 768px), (orientation: portrait) {
	.navbar_title
	{
		position: relative;
		float: none;
		display: block;

		text-align: left;
	}

	.navbar.toggled_on
	{
		position: relative;
		height: 174px;
	}

	.navbar.toggled_on a
	{
		float: none;
		display: block;

		margin: 6px 4px 4px 4px;
		padding: 4px 10px 4px 10px;

		border-radius: 0%;

		text-align: left;
	}

	.navbar.toggled_on #navbar_current a
	{
		float: none;
		display: block;

		margin: 6px 4px 4px 4px;
		padding: 4px 10px 4px 10px;

		border-radius: 0%;

		text-align: left;
	}
}



h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {}
h4 {}

p {
	font-size: 20px;
	line-height: normal;
	text-align: center;
}

a {
	color: RoyalBlue;
	text-decoration: none;
}